<!--Page showing form to add new category-->

<!--Header-->
{% extends "header.html" %}

<!--page content-->
{% block content %}

	
		<h1>Add New Category</h1>
		
		<!--Form to add new category within a tile-->
		<div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="row">
		 
			<div class="well3" >
				<form action="{{ url_for('newCategory')}}" method = 'post'>
					<h3>Name:</h3>
						<input type='text' size='30' name='name'>
					</br>
					</br>
					<input type='submit' value='Add'>
					<button type="button"> <a href = '{{ url_for('showCategory') }}'>Cancel</a></button>
				</form>
			</div>
          </div>
        </div>
		
		
{% endblock %}	
		
		